
<div class="row">
  <div class="col-md-6">
    <div class="well dash-box">
      <h1>Products</h1>
      <h2><%= @products_count %></h2>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well dash-box">
      <h1>Categories</h1>
      <h2><%= @categories_count %></h2>

    </div>
  </div>
</div>

